:root {
    --my-color: #FFFFFF;
}

body {
    font-family: 'ヒラギノ角ゴシック', YuGothic, 'メイリオ', Meiryo, 'MS PGothic', sans-serif;
    max-width: 1200px;
    margin: 0 auto;
}


/* NAME記事 */

.TopPage {
    background-color: #A7A9A6;
    width: 100%;
    max-width: 1200px;
    height: 550px;
    /* margin: 0 auto; */
}

.HeaderPhoto {
    display: flex;
    justify-content: space-between;
}

header img {
    background-color: var(--my-color);
    padding: 1% 1%;
}

.name {
    font-size: 600%;
    margin: 0;
    color: var(--my-color);
    line-height: 115%;
    width: 400px;
}

.JapaneseNeme,
.work {
    color: var(--my-color);
    font-size: 2.1em;
    margin: 0;
}

.main-profile {
    margin: 0 0 0 70px;
    display: flex;
    position: relative;
}

.main-profile img {
    position: absolute;
    left: 40%;
}


/* About 記事  */


/* overflow: hidden; */

.About {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}


/* overflow: hidden;が効かない */

.About-text {
    margin: 50px 0 0 80px;
}

.About-text h1 {
    font-weight: initial;
}

.About-text p {
    max-width: 430px;
}

.SNS-ions {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    width: 20%;
    margin-top: 25px;
}

.About-img {
    position: absolute;
    left: 50%;
}

.mail {
    font-size: 90%;
}