@charset "utf-8";
:root {
    --my-color: #FFFFFF;
}

body {
    font-family: 'ヒラギノ角ゴシック', YuGothic, 'メイリオ', Meiryo, 'MS PGothic', Avenir, sans-serif;
    max-width: 1200px;
    margin: 0 auto;
}


/* NAME記事 */

.TopPage {
    background-color: #A7A9A6;
    width: 100%;
    max-width: 1200px;
    height: 100vh;
    max-height: 600px;
}

.HeaderPhoto {
    display: flex;
    justify-content: space-between;
}

header img {
    background-color: var(--my-color);
    padding: 1% 1%;
}

.name {
    font-size: 600%;
    margin: 0;
    color: var(--my-color);
    line-height: 115%;
    width: 400px;
}

.JapaneseNeme,
.work {
    color: var(--my-color);
    font-size: 2.1em;
    margin: 0;
}

.main-profile {
    margin: 0 0 0 70px;
    display: flex;
    position: relative;
}

.main-profile img {
    position: absolute;
    left: 40%;
}


/* About 記事  */


/* overflow: hidden; が効かない*/

.About {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    height: 500px;
}


/* overflow: hidden;が効かない */

.About-text {
    margin: 50px 0 0 80px;
}

.About-text h1 {
    font-weight: initial;
}

.About-text p {
    max-width: 430px;
}

.SNS-ions {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    width: 20%;
    margin-top: 25px;
}

.About-img {
    position: absolute;
    left: 50%;
}

.mail {
    font-size: 90%;
}


/* projects */

.project {
    color: var(--my-color);
    background-color: #A7A9A6;
    display: flex;
}

.interior-img {
    margin: 0 5% 0 10%;
}

.Priject-name {
    font-weight: normal;
}

.Twitter,
.NETFLIX,
.Netfilix-main {
    margin-top: 10%;
    font-weight: lighter;
    max-width: 500px;
}

.Twitter-title {
    font-weight: normal;
    /* font-weight: lighter; */
    letter-spacing: 4px;
}

.Test-title,
.Netfilix-title {
    font-size: 110%;
    letter-spacing: 4px;
}

.Button {
    display: flex;
    list-style: none;
    padding: 0;
}


/* font-weight: lighter;が当たらない */

.Button-Website,
.Button-GitHub,
.Button-GitHub-black {
    max-width: 80px;
    width: 80px;
    height: 30px;
    margin: 0 10px;
    font-weight: lighter;
    padding: 8px 12px;
}

.Button-Website {
    margin-left: 0;
    background-color: var(--my-color);
    color: black;
    border: solid 1px #000;
}

.Button-GitHub {
    background-color: #A7A9A6;
    border: solid 1px #FFFFFF;
    color: var(--my-color);
}


/* NETFLIX  */

.NETFLIX {
    display: flex;
    margin-top: 0;
    max-width: 1200px;
}

.Button-GitHub-black {
    background-color: #303030;
    color: var(--my-color);
}

.NETFLIX-img {
    margin: 0 5% 10% 10%
}

.Netfilix-main {
    max-width: 600px;
    width: 600px;
}


/* Contacts */

nav {
    background-color: #303030;
    color: var(--my-color);
    height: 300px;
    padding: 10% 0 0 5%;
}

.phone-icon,
.pc-icon {
    display: flex;
    align-items: center;
    width: 100%;
}

footer {
    background-color: #656363;
    height: 40px;
}

footer>p {
    margin: 0 auto;
    text-align: center;
    color: var(--my-color);
    font-weight: lighter;
    font-size: 12px;
}

.icon {
    margin-right: 20px;
}